*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkgrey;
    margin:0;
}
.navigation{
    text-align: center;
    color: beige;
    background-color: cadetblue;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 5px;
    position: sticky;
    top:0;
}
li{    
    display: inline;
    position: relative;
    top: 2px;
}
.navigation a{
    color: beige;
    padding: 15px;
}
.title{
    margin: 10px auto;    
    text-align: center;
}
.section{
    height: auto;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.bali, .bijapur{
    float: left;
    background-color: white;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5px
}
.bijapur{
    margin-left: 75px;
}
.peterhof{
    clear: both;
    float: left;
    background-color: white;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.novosibirsk, .half_fish {
    float: right;
    background-color: white;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details{
    text-align: center;
    padding: 10px 20px;
}
footer{
    clear: both;
    text-align: center;
}
.footer_about{
    border: black solid;
    background-color: black;
    color: white;
    height: 25px;
}
.contact_form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width:450px;
    background-color: #fff;
}
.form_phrase{
    text-align: center;
    font-size: 20px;
    padding-top: 56px;
    padding-bottom: 5px
}
form{
    border: 1px #ccc solid;
}
.form_details{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 80px;
}
.fields{
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    border-top:0;
    border-left:0;Which CSS property and value would you use so that you can change the height and width of an inline element?

    border-right:0Which CSS property and value would you use so that you can change the height and width of an inline element?

    border-bottom:Which CSS property and value would you use so that you can change the height and width of an inline element?
 #ccc;
    width: 350px;
    outline: none;Which CSS property and value would you use so that you can change the height and width of an inline element?

}
#submit{
    background-color: #0056ff;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    color: white;
    margin: auto;
    outline: none;
    cursor: pointer;
}
.form_submit{
    text-align: center;
    padding-bottom: 32px;
}
.information{
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 25px;
    text-align: justify;
}
.information h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.information p{
    margin: 22px;
}
.cover_image p{
    text-align: justify;
    width: 850px;
    margin: 15px auto;
    padding-bottom: 25px;
}
.cover_image h3{
    text-align: center;
    padding-top: 20px;
}
p{
    line-height: 20px;
    letter-spacing: 2px;
}